<div>
    <h1>Análise de vendas</h1>
    
    <div>
        <button mat-raised-button (click)="changeToChart('salesChart')" style="margin-right:10px;">Ganhos em vendas</button>

        <button mat-raised-button [matMenuTriggerFor]="aboveMenu" style="margin-right:10px;">Ganhos com produtos</button>
        <mat-menu #aboveMenu="matMenu" yPosition="below">
            <button mat-menu-item (click)="changeToChart('productChart')">Produto 1</button>
            <button mat-menu-item>Produto 2</button>
        </mat-menu>

        <button mat-raised-button (click)="changeToChart('mostSoldProducts')" style="margin-right:10px;">Produtos mais vendidos</button>
        <button mat-raised-button (click)="changeToChart('lessSoldProducts')">Produtos menos vendidos</button>
    </div>

    <hr/>

    <mat-card class="example-card" style="margin-bottom:40px;">
      <mat-card-header>
        <mat-card-title>{{titleChart}}</mat-card-title>

        <div style="width:100px;">
        </div>
      </mat-card-header>
      <mat-card-content>
          <mat-form-field *ngIf="showDatePicker">
            <input matInput
                    placeholder="Escolha um período"
                    [satDatepicker]="picker2"
                    formControlName="date"
                    (dateChange)="saveDate($event)">
            <sat-datepicker #picker2 [rangeMode]="true">
            </sat-datepicker>
            <sat-datepicker-toggle matSuffix [for]="picker2"></sat-datepicker-toggle>
          </mat-form-field>
          <canvas id="canvas">{{ chart }}</canvas>
      </mat-card-content>
    </mat-card>
  </div>