.card-container {
  width: 250px;
  min-height: 80px;
  margin-bottom: 24px;
}

:host ::ng-deep .mat-card-actions .mat-button,
.mat-card-actions .mat-raised-button,
.mat-card-actions .mat-stroked-button {
  margin: 0;
}

h2 {
  margin: 0;
  text-align: center;
}

.title {
  margin-bottom: 16px;
}

.button-close {
  outline: none;
  text-transform: uppercase;
}

img {
  height: 250px;
}
