<div>
  <div fxLayout="column" class="container-filtro">
    <div fxFlex="100" fxLayout="row" fxLayoutGap="24px">
      <div fxFlex="70" fxLayout="column">
        <mat-form-field appearance="outline">
          <mat-label>Qual produto você está procurando?</mat-label>
          <input matInput>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <div fxFlex="30" fxLayout="column">
        <mat-form-field appearance="outline">
          <mat-label>Ordenar por</mat-label>
          <mat-select>
            <mat-option>Nenhum</mat-option>
            <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="space-between">
    <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
  </div>
</div>
