<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div>
      <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>dehaze</mat-icon>
      </button>
      <div>
        <span>6mkt</span>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


<mat-drawer-container autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

</mat-drawer-container>
