.mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 4;
}

.mat-drawer {
  position: fixed;
  top: 65px;
  background: #f8f8f8;
}

.remove-original-style {
  list-style: none;
  padding: 0;
}

:host ::ng-deep .mat-drawer-inner-container {
  width: 250px;
}

li {
  width: 100%;
  padding: 5px 10px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.container-menu {
  padding: 0;
}

.menu-item {
  padding: 10px 27px;
  cursor: pointer;
  outline: none;
  margin-bottom: 2px;
}

.submenu-item {
  margin-left: 20px;
  cursor: pointer;
  padding: 10px 27px;
  margin-bottom: 2px;
}

.menu-item:hover {
  background-color: #dedede;
  color: #628cc1;
}

.submenu-item:hover {
  background-color: #dedede;
  color: #628cc1;
}

.routerLinkActive {
  background-color: #dedede;
  color: #628cc1;
}

.azul-6mkt {
  background-color: #628cc1;
  color: #fbfbfb;
}

img {
  width: 50%;
  margin: 16px;
  border-radius: 50%;
  box-shadow: 0px 7px 17px 2px rgba(0, 0, 0, 0.75);
}

.picture-user {
  margin-bottom: 16px;
}

.icon-menu {
  font-size: 24px;
}

.background-content {
  background: black;
  width: 100%;
  height: 100vh;
  opacity: .35;
  z-index: 4;
  position: fixed;
}
