<mat-toolbar class="azul-6mkt">
  <mat-toolbar-row>
    <div fxFlex fxLayout="row">
      <button (click)="openDrawer(drawer)" mat-icon-button>
        <mat-icon>dehaze</mat-icon>
      </button>
      <div fxFlex fxLayoutAlign="center center">
        <span>6mkt</span>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


<mat-drawer-container>
  <mat-drawer #drawer class="example-sidenav" mode="side" fxFlex>
    <div class="picture-user" fxLayout="column" fxLayoutAlign="center center">
      <div fxLayout="row" fxLayoutAlign="center center">
        <img src="http://www.ccrnigeria.org/admin/img/user/user1.svg">
      </div>
      <div fxLayout="row">
        <span>Olá Mitzy</span>
      </div>
    </div>
    <div>
      <div class="container-menu" fxLayout="column" *ngFor="let menu of menus">
        <div class="menu-item" (click)="toggleMenu(menu, false)"
          [ngClass]="{'routerLinkActive': menu.ativo}" fxLayoutAlign="start center" fxLayoutGap="10px" >
          <span class="icon-menu mdi" [ngClass]="menu.icon"></span>
          <span>{{menu.name}}</span>
        </div>
        <div *ngIf="menu.ativo" fxLayout="column">
          <div class="submenu-item" fxLayoutAlign="start center" fxLayout="row" fxLayoutGap="10px"
            *ngFor="let subMenu of menu.menus" (click)="toggleMenu(subMenu, true)">
            <span class="icon-menu mdi" [ngClass]="subMenu.icon"></span>
            <span>{{subMenu.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer>

  <mat-drawer-content class="background-content" (click)="close(drawer)" *ngIf="showBlackGround"></mat-drawer-content>

</mat-drawer-container>
